<h1 style="text-align: center">Prayer Requests</h1>
<div>
  <p style="text-align: center">
    Please let us know how we can pray!
  </p>
</div>

<form class="form" [formGroup]="prayerForm" (ngSubmit)="onSubmit(prayerForm.value)">
  <div>
    <label for="firstName">
      First Name
    </label><br>
    <input id="firstName" type="text" formControlName="firstName">
  </div>
  <br>
  <div>
    <label for="lastName">
      Last Name
    </label><br>
    <input id="lastName" type="text" formControlName="lastName">
  </div>
  <br>
  <div>
    <label for="prayer">
      Prayer Request
    </label><br>
    <input id="prayer" type="text" formControlName="prayer">
  </div>
  <br>
  <div>
    <label for="date">
      Date
    </label><br>
    <input id="date" type="text" formControlName="date">
  </div>
  <br>
  <div>
    <label for="site">
      Site Location
    </label><br>
    <input id="site" type="text" formControlName="site">
  </div>
  <br>
  <button class="button" type="submit">Submit</button><br>
  <button class= "button" (click)="updatePrayer()"> UPDATE</button><br>
  <button class= 'button' (click)="deletePrayer()"> DELETE</button><br>

  <div class='display'>
    <prayer-request class></prayer-request>
  </div>
</form>

<!-- <div align-content='center'><h1>Update Prayer Request</h1></div>


<table class ="table">
  <tr *ngFor="let u of prayer">
    <td>
      {{u.id}}
    </td>
    <td>
      {{u.firstName}}
    </td>
    <td>
      {{u.prayer}}
    </td>
    <td>
      {{u.date}}
    </td>
    <td>
      {{u.site}}
    </td>
    <td>  
      <button class= 'btn btn-info' (click)="updatePrayer()"> UPDATE</button>
    </td>
  </tr>
</table> -->