<br><h1 style="text-align: center">Prayer Requests</h1>
<br><p style="text-align: center">
  Please let us know how we can pray!
</p>

<form style="text-align: center">
    Name: <input type="text" name="name" placeholder="Name"><br><br>
    Intervention Site: <input type="text" name="site" placeholder="Intervention Site"><br><br>
    Date: <input type="datetime" name="date" placeholder="Date"><br><br>
    Prayer Request: <input type="text" name="prayer" placeholder="Prayer Request"><br><br>
    <button type="submit">Submit</button><br><br>
    </form>

<fetch-request></fetch-request>