<br>
<h1 style="text-align: center">Locations</h1>
<div>
  <br>
  <p style="text-align: center">
    In an effort to have an updated map of trafficking locations in Houston, you can report a suspected location below:
  </p>
</div>


<form class="form" [formGroup]="locationsForm" (ngSubmit)="onSubmit(locationsForm.value)">
  <div>
    <label for="name">
      Name
    </label><br>
    <input id="name" type="text" formControlName="name">
  </div>
  <br>
  <div>
    <label for="address">
      Address
    </label><br>
    <input id="address" type="text" formControlName="address">
  </div>
  <br>
  <div>
    <label for="city">
      City
    </label><br>
    <input id="city" type="text" formControlName="city">
  </div>
  <br>
  <div>
    <label for="state">
      State
    </label><br>
    <input id="state" type="text" formControlName="state">
  </div>
  <br>
  <div>
    <label for="zipCode">
      Zip Code
    </label><br>
    <input id="zipCode" type="text" formControlName="zipCode">
  </div>
  <br>
  <div>
    <label for="locationType">
      Type of Location
    </label><br>
    <input id="locationType" type="text" formControlName="locationType">
  </div>
<br>
  <button type = "submit" ng-click = "submit()">Submit</button><br>
  <button type="button" ng-click ="update()"> Update</button><br>
  <button type="button" ng-click = "delete()"> Delete</button><br>
  <br>

  <locations-request></locations-request>

</form>