<div class="home">
  <div class="header" style="text-align:center"><br>
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <div class="links">
    <div class="prayer">
      <br><img width="300" alt="Intervention Photo" src="../../../assets/images/HoustonIntervention.png"><br><br>
      <button class="prayerButton" type="submit"><a routerLink='../prayer'>Prayer</a></button>
    </div><br>
    <div class="testimonies">
      <br><img width="350" alt="Testimony Photo" src="../../../assets/images/Intervention-Update2.jpg"><br><br>
      <button class="testimoniesButton" type="submit"><a routerLink='../testimonies'>Testimonies</a></button>
    </div><br>
    <div class="locations">
      <br><img width="300" alt="Locations Photo"
        src="../../../assets/images/Screen Shot 2018-03-21 at 6.19.05 PM.png"><br><br>
      <button class="locationsButton" type="submit"><a routerLink='../locations'>Locations</a></button>
    </div>
  </div><br>

  <div class="info" style="text-align: center">
    <h3>About Interventions</h3>
    <p>Each Friday night, we take teams out into the city to share God's love with those trapped in the sex industry. We
      have seen God move in miraculous ways, and this app will allow our teams to see how God is working throughout the
      city. We believe that it is through prayer and being the hands and feet of Jesus that we will see the end of sex
      trafficking in our city!</p>
  </div>

</div>