
<nav>
  <a class="btn" routerLink="home" routerLinkActive="active">Home</a>
  <br>
  <a href="/login">Login</a>
  <br>
  <a href="/registration">Registration</a>
  <br>
  <a href="/prayer">Prayer Requests</a>
  <br>
  <a href="/testimonies">Testimonies</a>
  <br>
  <a class="btn" routerLink="locations" routerLinkActive="active">Locations</a>
  <br>
  <a href="/logout">Logout</a>
</nav>
<!-- <ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<router-outlet></router-outlet>
