.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #e0c722;
    /* float: left; */
    /* display: block; */
}

.body{
    background-color: #e0c722;
}
