<br><h1 style="text-align: center">Testimonies</h1>
<br><p style="text-align: center">
  Please tell us about what God is doing!
</p>

<form [formGroup]="testimonyForm" (ngSubmit)="onSubmit(testimonyForm.value)">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="site">
      Site Location
    </label>
    <input id="site" type="text" formControlName="site">
  </div>
  <div>
    <label for="date">
      Date
    </label>
    <input id="date" type="datetime" formControlName="date">
  </div>
  <div>
    <label for="testimony">
      Testimony
    </label>
    <input id="testimony" type="text" formControlName="testimony">
  </div>

<button class="button" type="submit">Submit</button>

    </form>


<testimonies-request></testimonies-request> 