<h1 style="text-align: center">Testimonies</h1>
<div>
  <p style="text-align: center">
    Please tell us about what God is doing!
  </p>
</div>
<div id="form">
  <form class="form" [formGroup]="testimoniesForm" (ngSubmit)="onSubmit(testimoniesForm.value)">
    <div>
      <label for="firstName">
        First Name
      </label><br>
      <input id="firstName" type="text" formControlName="firstName">
    </div>
    <br>
    <div>
      <label for="lastName">
        Last Name
      </label><br>
      <input id="lastName" type="text" formControlName="lastName">
    </div>
    <br>
    <div>
      <label for="testimony">
        Testimony
      </label><br>
      <input id="testimony" type="text" formControlName="testimony">
    </div>
    <br>
    <div>
      <label for="date">
        Date
      </label><br>
      <input id="date" type="text" formControlName="date">
    </div>
    <br>
    <div>
      <label for="site">
        Site Location
      </label><br>
      <input id="site" type="text" formControlName="site">
    </div>
    <br>
    <button type="submit" ng-click="submit()">Submit</button><br>
    <button type="button" ng-click="update()"> Update</button><br>
    <button type="button" ng-click="delete()"> Delete</button><br>

    <br>
    <testimonies-request></testimonies-request>
    <br>
  </form>