<br>
<h1 style="text-align: center">Trafficking Interventions</h1>
<br>
<p style="text-align: center">
  Please Login or Register!
</p>

<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div>
    <label for="username">
      Username
    </label><br>
    <input id="username" type="text" formControlName="username">
  </div>
  <div>
    <label for="password">
      Password
    </label><br>
    <input id="password" type="text" formControlName="password">
  </div>
  <br>
  <button class="loginButton" type="submit"><a routerLink='../home'>Submit</a></button><br>

  <button class="registerButton" type="submit"><a routerLink='../registration'>Register</a></button>
</form>